<?xml version="1.0" encoding="utf-8"?>
<Root>
  <OpcConfig>
    <Address>opc.tcp://127.0.0.1:4840</Address>
    <UserName>user</UserName>
    <Password>123456</Password>
  </OpcConfig>
  <MqttConfig>
    <Address>10.47.102.70</Address>
    <Port>1883</Port>
    <ClientId>demo2</ClientId>
    <UserName>demo2</UserName>
    <Password>123qwe</Password>
    <IsTls>false</IsTls>
  </MqttConfig>
</Root>