<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--<add name="DatabaseConnection" connectionString="Data Source=.\AppData\OpcDB.db" providerName="Microsoft.EntityFrameworkCore.Sqlite" />-->
		<add name="DatabaseConnection" connectionString="Data Source=.\AppData\OpcDB.db" providerName="Microsoft.EntityFrameworkCore.Sqlite" />
	</connectionStrings>
</configuration>
